<h3 style="color:blue">

    {{titulo}}

</h3>

<hr>

<h3>Selector de colores</h3>
<button (click)="logColorSeleccionado()"> MOSTRAR LOG</button>
<input type="text" [(ngModel)]="color_seleccionado" />

<pre [style.border]="color_seleccionado == 'red' ? '5px solid black' : '1px solid green'"
     [ngClass]="{
        bordeAzul : color_seleccionado == 'blue',
        bordeVerde : color_seleccionado == 'green',
        letraGrande: 1 == 1
    
    }"
     >
    Color elegido:
    {{color_seleccionado}}
</pre>

<div [ngStyle]="{
    'background':color_seleccionado, 
    'width' : '200px',
    'height': '200px',
    'float' : 'right',
    'margin-right' : '69%'
}"></div>

<div style="clear: both"></div>

<h3>Colores switch</h3>

<ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'" 
    [ngStyle]="{
        'background':color, 
        'color':'white',
        'padding': '20px'
    }">
        Es de color ROJO:
    </li>
    <li *ngSwitchCase="'green'" 
    [ngStyle]="{
        'background':color, 
        'color':'white',
        'padding': '20px'
    }">
        Es de color VERDE:
    </li>
    <li *ngSwitchCase="'blue'" 
    [ngStyle]="{
        'background':color, 
        'color':'white',
        'padding': '20px'
    }">
        Es de color AZUL:
    </li>
</ul>

<hr>

<strong>Empleado estrella:</strong>
<br>

<div>
    <button (click)="cambiarExterno(false)" *ngIf="trabajador_externo == true">Mostrar empleado</button>
    <ul>
        <li>{{trabajadores[0].nombre}}</li>
        <li>{{trabajadores[0].edad}}</li>
        <li>{{trabajadores[0].cargo}}</li>
        <li>{{trabajadores[0].contratado}}</li>
        <li *ngIf="trabajadores[0].contratado == true">Está contratado</li>
        <li *ngIf="trabajadores[0].contratado == false">No Está contratado</li>

    </ul>
</div>

<div>
    <button (click)="cambiarExterno(true)" *ngIf="trabajador_externo == false">Mostrar trabajador</button>
    <ul *ngIf="trabajador_externo == false">
        <li>{{empleado.nombre}}</li>
        <li>{{empleado.edad}}</li>
        <li>{{empleado.cargo}}</li>
        <li>{{empleado.contratado}}</li>
        <li *ngIf="empleado.contratado == true">Está contratado</li>
        <li *ngIf="empleado.contratado == false">No Está contratado</li>

    </ul>
</div>

<hr>

<h3>Empleados</h3>
<ul>
    <li *ngFor="let empleado of trabajadores; let i = index">
        <strong>Empleado {{i + 1}}:</strong>
        <ul>
            
            <li>{{empleado.nombre}}</li>
            <li>{{empleado.edad}}</li>
            <li>{{empleado.cargo}}</li>
            <li>{{empleado.contratado}}</li>
            <li *ngIf="empleado.contratado == true">Está contratado</li>
            <li *ngIf="empleado.contratado == false">No Está contratado</li>
        </ul>
    </li>
</ul>

<hr>

